<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon Project</title>

    <!-- links -->
    <link rel="stylesheet" href="styles\nav-bar-styles.css">
    <link rel="stylesheet" href="styles\index-style.css">

</head>
<body>
    <div class="overlay"></div>
    <header>
        <nav>
            <div class="container navigation">
                <h1 class="logo">ZiLO</h1>
                <ul class="links">
                    <li>
                        <a class="nav-links" href="/">Home</a>
                    </li>
                    <li>
                        <a class="nav-links" href="/about">About</a>
                    </li>
                    <li>
                        <a class="nav-links" href="/give-get">Get/Give</a>
                    </li>
                    <li>
                        <a class="nav-links" href="/contact">Contact</a>
                    </li>
                    <li>
                        <a class="nav-links" href="">Sign in</a>
                    </li>
                </ul>
                <div class="hamburger">
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <section>
            <div class="container landing-page">
                <div class="landing-content">
                    <h1 class="title">join us in saving food from going to waste</h1>
                    <button class="button">
                        <a href="/contact">get started</a> 
                    </button>
                </div>
            </div>
        </section>
    </main>

    <!-- script -->
    <script src="scripts\app.js"></script>
</body>
</html>